@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raceline", "Xenogears", sans-serif;
  color: #FFFCF5;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFCF5;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Xenogears";
  src: local("Xenogears"),
    url("../fonts/Xenogears.ttf") format("truetype");
}

@font-face {
  font-family: "Raceline";
  src: local("Raceline-Demo"),
    url("../fonts/Raceline-Demo.otf") format("opentype");
}
